[submodule ".local/share/zsh/plugins/fast-syntax-highlighlighting"]
	path = .local/share/zsh/plugins/fast-syntax-highlighlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://git.snaile.de/luca/dwm
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://git.snaile.de/luca/dmenu
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = https://git.snaile.de/luca/dwmblocks
[submodule ".local/share/icons/tokyonight-icons"]
	path = .local/share/icons/tokyonight-icons
	url = https://git.snaile.de/luca/tokyonight-icons
[submodule ".local/share/themes/tokyonight-theme"]
	path = .local/share/themes/tokyonight-theme
	url = https://git.snaile.de/luca/tokyonight-theme
[submodule ".local/share/icons/tokyonight-theme"]
	path = .local/share/icons/tokyonight-theme
	url = https://git.snaile.de/luca/tokyonight-theme
